{{ define "add_form" }}
    <form id="my-form" action="/flat/add" method="POST">
        <div class="form-row">
            <div class="form-group col-md-1">
                <label>Район</label>
                <select class="form-control" name="InputArea">
                    <option selected>Абайский</option>
                    <option selected>Аль-Фарабийский</option>
                    <option selected>Енбекшинский</option>
                    <option selected>Каратауский</option>
                    <option selected></option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label>Адрес</label>
                <input type="text" class="form-control" name="InputAddress">
            </div>
            <div class="form-group col-md-1">
                <label for="validationDefault03">ориентир</label>
                <input type="text" class="form-control" name="InputLandMark" id="validationDefault03" required>
            </div>
            <div class="form-group col-md-1">
                <label>Дом №</label>
                <input type="text" class="form-control" name="InputHomeNumber">
            </div>
            <div class="form-group col-md-1">
                <label>Квартира №</label>
                <input type="text" class="form-control" name="InputFlatNumber">
            </div>
            <div class="form-group col-md-1">
                <label for="InputPriceMin">Цена от</label>
                <input type="text" class="form-control" id="InputPriceMin" name="InputPriceMin">
            </div>
            <div class="form-group col-md-1">
                <label for="InputPriceMax">до</label>
                <input type="text" class="form-control" id="InputPriceMax" name="InputPriceMax">
            </div>
            <div class="form-group col-md-1">
                <label>Кол-во</label>
                <select class="form-control" name="InputRoomsCount">
                    <option selected>1</option>
                    <option selected>2</option>
                    <option selected>3</option>
                    <option selected>4</option>
                    <option selected>5+</option>
                    <option selected></option>
                </select>
            </div>
            <div class="form-group col-md-1">
                <label>тип ком-т</label>
                <select class="form-control" name="InputRoomsType">
                    <option selected>Какие</option>
                    <option selected>типы</option>
                    <option selected>?</option>
                    <option selected></option>
                </select>
            </div>
            <div class="form-group col-md-1">
                <label>этаж</label>
                <input type="text" class="form-control" name="InputFloor">
            </div>
            <div class="form-group col-md-1">
                <label>этажность</label>
                <input type="text" class="form-control" name="InputFloorsCount">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-1">
                <label>тип ком-т</label>
                <select class="form-control" name="InputFlatType">
                    <option selected>Архитектурный</option>
                    <option selected>Кирпич 77</option>
                    <option selected>Кирпичный инд.</option>
                    <option selected>Малосемейка</option>
                    <option selected>Монолит</option>
                    <option selected>Новостройка</option>
                    <option selected>Обкомовский</option>
                    <option selected>проект</option>
                    <option selected>Пан 101</option>
                    <option selected>Пан 103</option>
                    <option selected>Пан105</option>
                    <option selected>Пан121</option>
                    <option selected>кирпич</option>
                    <option selected>книжка</option>
                    <option selected>общежитие</option>
                    <option selected>ташкентский дом</option>
                    <option selected></option>
                </select>
            </div>
            <div class="form-group col-md-1">
                <label>состояние</label>
                <select class="form-control" name="InputState">
                    <option selected>какие</option>
                    <option selected>типы</option>
                    <option selected>??</option>
                    <option selected></option>
                </select>
            </div>
            <div class="form-group col-md-1">
                <label>площадь</label>
                <input type="text" class="form-control" name="InputSquare">
            </div>
            <div class="form-group col-md-1">
                <label>сан узел</label>
                <select class="form-control" name="InputToilet">
                    <option selected>Раздельный</option>
                    <option selected>Во дворе</option>
                    <option selected>Нет</option>
                    <option selected>Совмещенный</option>
                    <option selected></option>
                </select>
            </div>
            <div class="form-group col-md-1">
                <label>кол-во</label>
                <input type="text" class="form-control" name="InputToiletCount">
            </div>
            <div class="form-group col-md-1">
                <label>год</label>
                <input type="text" class="form-control" name="InputBuildYear">
            </div>
            <div class="form-group col-md-1">
                <label>угловая</label>
                <input type="checkbox" name="inputIsCorner" aria-label="Checkbox for following text input">
            </div>
            <div class="form-group col-md-5">
                <label>Описание</label>
                <textarea type="text" class="form-control" name="InputDescription"> </textarea>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-md-12 table-responsive">
                            <table class="table table-bordered table-hover table-sortable" id="tab_logic">
                                <thead>
                                <tr >
                                    <th class="text-center">
                                        Name
                                    </th>
                                    <th class="text-center">
                                        Email
                                    </th>
                                    <th class="text-center">
                                        Notes
                                    </th>
                                    <th class="text-center">
                                        Option
                                    </th>
                                    <th class="text-center" style="border-top: 1px solid #ffffff; border-right: 1px solid #ffffff;">
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr id='addr0' data-id="0" class="hidden">
                                    <td data-name="name">
                                        <input type="text" name='name0'  placeholder='Name' class="form-control"/>
                                    </td>
                                    <td data-name="mail">
                                        <input type="text" name='mail0' placeholder='Email' class="form-control"/>
                                    </td>
                                    <td data-name="desc">
                                        <textarea name="desc0" placeholder="Description" class="form-control"></textarea>
                                    </td>
                                    <td data-name="sel">
                                        <select name="sel0">
                                            <option value="">Select Option</option>
                                            <option value="1">Option 1</option>
                                            <option value="2">Option 2</option>
                                            <option value="3">Option 3</option>
                                        </select>
                                    </td>
                                    <td data-name="del">
                                        <button name="del0" class='btn btn-danger glyphicon glyphicon-remove row-remove'><span aria-hidden="true">×</span></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <a id="add_row" class="btn btn-primary float-right">Add Row</a>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Добавить</button>
        </div>
    </form>

{{ end }}