{{ define "base_nav_flat_form" }}
<form id="my-form" action="/flat/new" method="POST">
    <div class="form-row">
        <div class="form-group col-md-1">
            <label>Район</label>
            <select class="form-control" name="InputArea">
                <option selected>Абайский</option>
                <option selected>Аль-Фарабийский</option>
                <option selected>Енбекшинский</option>
                <option selected>Каратауский</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label>Адрес</label>
            <input type="text" class="form-control" name="InputAddress">
        </div>
        <div class="form-group col-md-1">
            <label>ориентир</label>
            <input type="text" class="form-control" name="InputLandMark">
        </div>
        <div class="form-group col-md-1">
            <label>Дом №</label>
            <input type="text" class="form-control" name="InputHomeNumber">
        </div>
        <div class="form-group col-md-1">
            <label>Квартира №</label>
            <input type="text" class="form-control" name="InputFlatNumber">
        </div>
        <div class="form-group col-md-1">
            <label for="InputPriceMin">Цена от</label>
            <input type="text" class="form-control" id="InputPriceMin" name="InputPriceMin">
        </div>
        <div class="form-group col-md-1">
            <label for="InputPriceMax">до</label>
            <input type="text" class="form-control" id="InputPriceMax" name="InputPriceMax">
        </div>
        <div class="form-group col-md-1">
            <label>Кол-во</label>
            <select class="form-control" name="InputRoomsCount">
                <option selected>1</option>
                <option selected>2</option>
                <option selected>3</option>
                <option selected>4</option>
                <option selected>5+</option>
            </select>
        </div>
        <div class="form-group col-md-1">
            <label>тип ком-т</label>
            <select class="form-control" name="InputRoomsType">
                <option selected>Какие</option>
                <option selected>типы</option>
                <option selected>?</option>
            </select>
        </div>
        <div class="form-group col-md-1">
            <label>этаж</label>
            <input type="text" class="form-control" name="InputFloor">
        </div>
        <div class="form-group col-md-1">
            <label>этажность</label>
            <input type="text" class="form-control" name="InputFloor">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-1">
            <label>тип ком-т</label>
            <select class="form-control" name="InputFlatType">
                <option selected>Архитектурный</option>
                <option selected>Кирпич 77</option>
                <option selected>Кирпичный инд.</option>
                <option selected>Малосемейка</option>
                <option selected>Монолит</option>
                <option selected>Новостройка</option>
                <option selected>Обкомовский</option>
                <option selected>проект</option>
                <option selected>Пан 101</option>
                <option selected>Пан 103</option>
                <option selected>Пан105</option>
                <option selected>Пан121</option>
                <option selected>кирпич</option>
                <option selected>книжка</option>
                <option selected>общежитие</option>
                <option selected>ташкентский дом</option>
            </select>
        </div>
        <div class="form-group col-md-1">
            <label>площадь</label>
            <input type="text" class="form-control" name="InputSquare">
        </div>
        <div class="form-group col-md-1">
            <label>сан узел</label>
            <select class="form-control" name="InputToilet">
                <option selected>Раздельный</option>
                <option selected>Во дворе</option>
                <option selected>Нет</option>
                <option selected>Совмещенный</option>
            </select>
        </div>
        <div class="form-group col-md-1">
            <label>кол-во</label>
            <input type="text" class="form-control" name="InputToiletCount">
        </div>
        <div class="form-group col-md-1">
            <label>год</label>
            <input type="text" class="form-control" name="InputBuildYear">
        </div>
        <div class="form-group col-md-1">
            <label>угловая</label>
            <input type="checkbox" name="inputIsCorner" aria-label="Checkbox for following text input">
        </div>
        <div class="form-group col-md-6">
            <label>Описание</label>
            <input type="text" class="form-control" name="InputDescription">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Добавить</button>
</form>
{{end}}
