{{ define "base_navbar"}}
    <div class="pos-f-t">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Золотой Ключ</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="form-inline my-2 my-lg-0">
                    <button class="btn btn-sm btn-outline-secondary ml-1" type="button" data-toggle="collapse" data-target="#navbarCollapseAdd" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        добавить
                    </button>
                </form>
                <form class="form-inline my-2 my-lg-0">
                    <button class="btn btn-sm btn-outline-secondary ml-1" type="button" data-toggle="collapse" data-target="#navbarCollapseSearch" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        найти
                    </button>
                </form>
                <ul class="navbar-nav mr-auto">
                </ul>
                <ul class="nav justify-content-end">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ .user.GetFullName }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Профиль</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Выйти</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="collapse" id="navbarCollapseSearch">
            <div class="p-4">
                <h5 class="h4">Найти</h5>
                {{template "base_search_form" .}}
            </div>
        </div>
        <div class="collapse" id="navbarCollapseAdd">
            <div class="p-4">
                <h5 class="h4">Добавить</h5>
                {{template "base_add_form" .}}
            </div>
        </div>
    </div>

{{ end }}