{{ define "base_nav_flat_form" }}
<form id="my-form" action="/flat/new" method="POST">
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="address">Адрес</label>
            <input type="text" class="form-control" id="address" name="address">
        </div>
        <div class="form-group col-md-1">
            <label for="inputHome">Дом</label>
            <input type="text" class="form-control" id="inputHome">
        </div>
        <div class="form-group col-md-1">
            <label for="inputStructure">Строение</label>
            <input type="text" class="form-control" id="inputStructure">
        </div>
        <div class="form-group col-md-1">
            <label for="inputFlatNumber">Квартира</label>
            <input type="text" class="form-control" id="inputFlatNumber">
        </div>
        <div class="form-group col-md-1">
            <label for="inputState">Состояние</label>
            <select id="inputState" class="form-control">
                <option selected>Отличное</option>
                <option selected>Хорошее</option>
                <option selected>Евро</option>
                <option selected>Плохое</option>
            </select>
        </div>
        <div class="form-group col-md-1">
            <label for="inputIsCorner">Угловая</label>
            <input type="text" class="form-control" id="inputIsCorner">
            <input type="checkbox" id="inputIsCorner" aria-label="Checkbox for following text input">
        </div>
        <div class="form-group col-md-4">
            <label for="inputOther">Описание</label>
            <input type="text" class="form-control" id="inputOther">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Добавить</button>
</form>
{{end}}