{{ template "base_header" . }}
{{ template "base_navbar" . }}

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Улица</th>
        <th scope="col">дом</th>
        <th scope="col">строение</th>
        <th scope="col">номер Квартиры</th>
        <th scope="col">состояние</th>
        <th scope="col">этаж</th>
        <th scope="col">угловая</th>
        <th scope="col">тип</th>
        <th scope="col">описание</th>
        <th scope="col">владелец</th>
    </tr>
    </thead>

{{/*    ID          int64*/}}
{{/*    Street      string*/}}
{{/*    Home        string*/}}
{{/*    Structure   uint*/}}
{{/*    FlatNumber  uint*/}}
{{/*    State       flatState*/}}
{{/*    Floor       uint*/}}
{{/*    IsCorner    bool*/}}
{{/*    FlatType    string*/}}
{{/*    Description string*/}}
{{/*    PictureURLs []string*/}}
{{/*    Owner       string*/}}
    <tbody>
    {{range .flats}}
        <tr>
            <td>{{.ID}}</td>
            <td>{{.Street}}</td>
            <td>{{.Home}}</td>
            <td>{{.Structure}}</td>
            <td>{{.FlatNumber}}</td>
            <td>{{.State}}</td>
            <td>{{.Floor}}</td>
            <td>{{.IsCorner}}</td>
            <td>{{.FlatType}}</td>
            <td>{{.Description}}</td>
            <td>{{.Owner}}</td>
        </tr>
    {{end}}
    </tbody>
</table>
{{ template "base_bottom" . }}