{{ template "base_header" . }}
{{ template "base_navbar" . }}

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Улица</th>
        <th scope="col">дом</th>
        <th scope="col">строение</th>
        <th scope="col">номер Квартиры</th>
        <th scope="col">состояние</th>
        <th scope="col">этаж</th>
        <th scope="col">угловая</th>
        <th scope="col">тип</th>
        <th scope="col">описание</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
    </tr>
    </tbody>
</table>
{{ template "base_bottom" . }}