{{ template "base_header" . }}
{{ template "base_navbar" . }}

<table class="table table-sm table-bordered table-condensed table-striped table-hover">
{{/*    ID           int64*/}}
{{/*    Area         Area*/}}
{{/*    LandMark     string*/}}
{{/*    Address      string*/}}
{{/*    HomeNumber   int*/}}
{{/*    FlatNumber   int*/}}
{{/*    PriceMin     int*/}}
{{/*    PriceMax     int*/}}
{{/*    RoomsCount   int*/}}
{{/*    RoomsType    string //TODO: addType*/}}
{{/*    Floor        int*/}}
{{/*    FloorsCount  int*/}}
{{/*    Square       int*/}}
{{/*    FlatType     string //TODO: addType*/}}
{{/*    State        state*/}}
{{/*    Toilet       toilet*/}}
{{/*    ToiletCount  int*/}}
{{/*    BuildYear    int*/}}
{{/*    IsCorner     bool*/}}
{{/*    Description  string*/}}
{{/*    PictureURLs  []string*/}}
{{/*    PhoneNumbers map[string]string*/}}
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Район</th>
        <th scope="col">Ориентир</th>
        <th scope="col">Адрес</th>
        <th scope="col">Цена</th>
        <th scope="col">Кол-во к-т</th>
        <th scope="col">Этажность</th>
        <th scope="col">Серия</th>
        <th scope="col">Площадь</th>
        <th scope="col">Тип к-т</th>
        <th scope="col">Сан узел</th>
        <th scope="col">Ремонт</th>
        <th scope="col">Контакты</th>
    </tr>
    </thead>
    <tbody>
    {{range .flats}}
        <tr class="table-row" data-href="/flat/info?ID={{.ID}}">
            <td>{{.ID}}</td>
            <td>{{.Area}}</td>
            <td>{{.LandMark}}</td>
            <td>{{.Address}}</td>
            <td>{{.PriceMin}}-{{.PriceMax}}</td>
            <td>{{.RoomsCount}}</td>
            <td>{{.Floor}}/{{.FloorsCount}}</td>
            <td>{{.FlatType}}</td>
            <td>{{.Square}}</td>
            <td>{{.RoomsType}}</td>
            <td>{{.Toilet}}</td>
            <td>{{.State}}</td>
            <td>{{.PhoneNumbers}}</td>
        </tr>
    {{end}}
    </tbody>
</table>
{{ template "base_bottom" . }}
